{% extends 'base.html' %}

{% block content %}
    <h1>Welcome to Corpus Search Engine</h1>
    <h2>Try adding some words</h2>
    <form method="POST" action="{{ url_for('insert_data')}}" class="d-flex">
        <input class="form-control me-2" placeholder="Word" aria-label="Add" name="word">
        <button class="btn btn-outline-secondary" type="submit">Add</button>
    </form>
    <h2>Or Try delete some</h2>
    <form method="POST" action="{{ url_for('delete')}}" class="d-flex">
        <input class="form-control me-2" placeholder="Word" aria-label="Delete" name="word">
        <button class="btn btn-outline-secondary" type="submit">Delete</button>
    </form>
<!--    <h3>{{ utc_dt }}</h3>-->
{% endblock %}
