<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ url_for('index') }}">Corpus Search Engine</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('index')}}">Add word</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('index')}}">Delete</a>
        </li>
      </ul>

      <form method="POST" action="{{ url_for('search')}}" class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="word">
        <button class="btn btn-outline-secondary" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
