{% extends 'base.html' %}

{% block content %}
    <br>
    <form method="GET" action="{{ url_for('index')}}" class="d-flex">
        <button class="btn btn-outline-secondary" type="submit">Return</button>
    </form>
<!--    <a href="/">Back To Main page</a>-->
    <!-- Make template_recipe title case -->
    {% if create_result %}
        <h2>{{ word }} has been successfully {{ create_result }} in the corpus</h2>

    {% elif search_result %}
        {% if search_result['hits']['hits']|length > 0 %}
            <h2> Top 3 most similar words to <b>{{word}}</b> in the corpus</h2>
            {% for result in search_result['hits']['hits'][:3]%}
            <li>{{ result['_source']['word'] }}</li>
            {% endfor %}
        {% else %}
            <h2> Finding <b>{{word}}</b> in the corpus has no results</h2>
        {% endif %}

    {% elif delete_result %}
        {% if word %}
            <h2>{{ delete_result }} instance of {{word}} which is the most familiar has been successfully deleted in the corpus</h2>
        {% else %}
            <h2>{{delete_result}}</h2>
        {% endif %}
    {% endif %}

{% endblock %}
